body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #110808;
    color: white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}



header {
    display: flex;
    align-items: center;
}

h1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}

nav ul {
    position: absolute;
    top: 39px;
    left: 820px;
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.auth-buttons button {
    background-color: #9b2626;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.auth-buttons .login {
    margin-right: 10px;
}

main {
    text-align: center;
    margin-top: 50px;
}

.signup-prompt h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.signup-prompt h3 {
    font-size: 20px;
    color: #cccccc;
}

.search-box {
    background: white;
    border-radius: 40px;
    height: 40px;
    margin-left: 30%;
    margin-right: 30%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.search-text {
    border: 0;
    background: none;
    outline: 0;
    margin-left: 3%;
}



.game-samples {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.game-card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.game-card img {
    max-width: 100px;
    border-radius: 10px;
}

.game-card p {
    margin-top: 10px;
    color: #cccccc;
}

.About1 {
   padding-left: 20%;
   padding-right: 20%;
}

.About1 h2{
    position: absolute;
    font-size: 35px;
   
    left: 48%;
    top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.About1 h3{
    margin-top: 7%;
}

.img-about {
    position: absolute;
    padding: 100px;
    left: 60%;
    top: 45%;
}

.divh2 {
    position: absolute;
    top: 420px;
    left: 27%;
    font-size: 25px;
   
    padding-left: 20px;
    padding-right: 20px;
    
}

.divh3 {
    position: absolute;
    top: 550px;
    left: 13%;
    padding-right: 50%;
}

.divh32 {
    position: absolute;
    top: 670px;
    left: 13%;
    padding-right: 50%;
}

.why {
    position: absolute;
    top: 1000px;
    left: 38%;
    font-size: 23px;
}

.why2 {
    position: absolute;
    top: 1120px;
    
    padding-left: 20%;
    padding-right: 20%;
}

.why3 {
    position: absolute;
    top: 1200px;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
}


.table {
    background-color: #2b2b2b;
    border-radius: 8px;
    overflow: hidden;
}

.table-header, .table-row {
    display: flex;
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 1px solid #444;
}

.table-header .table-row {
    background-color: #1c1c1c;
    color: #f4f4f4;
}

.table-body .table-row {
    display: flex;
    padding: 15px 0;
    transition: background-color 0.3s;
}

.table-body .table-row:hover {
    background-color: #333;
}

.column {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rank {
    width: 10%;
    text-align: center;
}

.image {
    width: 15%;
}

.image img {
    width: 50px;
    height: auto;
    border-radius: 4px;
}

.title {
    width: 40%;
    text-align: left;
    padding-left: 10px;
}

.score, .status {
    width: 15%;
    text-align: center;
}

button {
    padding: 4px 8px;
    background-color:#9b2626;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #722020;
}



.login2 button{
    background-color: #1c1c1c;
}

.discover {
    position: absolute;
    padding-bottom: 10%;
    top: 1450px;
    align-items: center;
    justify-content: center;
    left: 26%;   
}

.discover h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: inherit
}

main img {
    height: 380px;
    width: 280px;   
}

.img {
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    left: 21%;
    top: 250px;
    background-color: white;
}

main h1 {
    position: absolute;
    left: 38%;
    top: 210px;
    font-size: 48px;
}

main h2 {
    position: absolute;
    left: 38%;
    top: 300px;
    font-size: 16px;
    font-family: cursive;
}
main h3 {
    position: absolute;
    left: 38%;
    top: 340px;
    font-size: 16px;
    font-family: cursive;
}
main h4 {
    position: absolute;
    left: 38%;
    top: 380px;
    font-size: 16px;
    font-family: cursive;
    text-align: justify;
    padding-right: 25%;
}

.contate-nos {
    position: absolute;
    top: 850px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    left: 28%;
    text-align: center;
}