body {
    
    margin-left: 250px;
    margin-right: 250px;
    color: white;
    background-color: rgb(19, 19, 19);
}

header {
    background-color: rgb(87, 21, 135);

}

nav ul {
    list-style-type: none;
    
    padding: 5px;
}

nav ul li {
    display: inline;
    padding: 40px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px;
}